<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="../css/buttonCompartir.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Some Open Graph tags -->
  <meta name="description" content="Viaja">
  <meta name="author" content="Here">
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Post" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://jennifercarmen.github.io/weTravel-app/views/desktop.html" />
  <meta property="og:site_name" content="jennifercarmen.github.io" />
  <meta property="article:publisher" content="[https://www.facebook.com/Mahcode-849841581779986" />
  <meta property="article:published_time" content="2018-04-03T07:50:00Z]" />
  <meta property="og:image" content="https://user-images.githubusercontent.com/32302079/38602135-831b9bb0-3d2f-11e8-8c3b-c33c2afd53e6.png"
  />
  <meta name="twitter:title" content="" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="@JenniferCarmen" />
  <meta name="twitter:site" content="@JenniferCarmen" />
  <meta name="twitter:creator" content="@JenniferCarmen" />
  <meta name="twitter:via" content="JenniferCarmen" />
  <meta name="twitter:card" content="photo" />
  <meta name="twitter:url" content="https://jennifercarmen.github.io/weTravel-app/views/desktop.html" />
  <link rel="stylesheet" href="../css/buttonCompartir.css">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link type="text/css" rel="stylesheet" href="../vendors/materialize/css/materialize.min.css" media="screen,projection" />
  <link href="https://fonts.googleapis.com/css?family=Joti+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">

  <title>InfoTaxi</title>
</head>

<body>
    <nav class="nav-extended">
        <div class="nav-wrapper red darken-1">
          <a href="#" class="brand-logo">InfoTaxi</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse">
            <i class="material-icons">menu</i>
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
              <a href="user.html">Perfil</a>
            </li>
            <li>
              <a href="chat.html">Chat</a>
            </li>
            <li>
              <a href="../index.html">Consultar Placa</a>
            </li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li>
              <a href="user.html">
                <i class="material-icons  orange-text text-darken-1">account_circle</i>Perfil</a>
            </li>
            <li>
              <a href="chat.html">
                <i class="material-icons light-blue-text text-darken-3">message</i>Chat</a>
            </li>
            <li>
              <a href="fotos.html">
                <i class="material-icons light-blue-text text-darken-3">message</i>Consultar Placa</a>
            </li>
            <li>
              <a href="../index.html">
                <i class="material-icons grey-text">close</i>Cerrar Sesión</a>
            </li>
          </ul>
        </div>

      </nav>
  <br>
  <br>
  <br>
    <div class="row">
        <div class="col  s4 offset-s4 m2 offset-m5 ">
          <img id="img-user" class="responsive-img circle" alt="">
        </div>
      </div>
      <div class="row">
        <h6 class="center-align bold" id="name-user"></h6>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s3">
            <a class="active" href="#bibliografia"> Ingresar Contactos</a>
          </li>
        </ul>
        </div>
    </div>
    <div class="row">
        <div class="col s9">
            Juan Gutierrez
        </div>
        <div class="col s3">
                <i class="material-icons">check</i>
        </div>
    </div>
    <div class="row">
            <div class="col s9">
                Jose Gutierrez
            </div>
            <div class="col s3">
                    <i class="material-icons">check</i>
            </div>
    </div>
    <div class="row">
            <div class="col s9">
                Maria Hernandez
            </div>
            <div class="col s3">
                <i class="material-icons">check</i>
            </div>
    </div>
    <div class="col s12 center-align">
            <button class="center-align waves-effect waves-light btn">
                <a href="desktop.html">Ingresar Contactos</a>
            </button>
        </div>
    </div>

    <!-- Materialize  Jquery JavaScript Firebase-->
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
    <script src="../js/helpers/config_firebase.js"></script>
    <script src="../js/home.js"></script>
    <script src="../js/user.js"></script>
    <script src="../js/post.js"></script>
    <script src="../js/compartir.js"></script>
    <script src="../js/helpers/functions.js"></script>
</body>

</html>